// 白色
$white: #fff;
// 黑色
$black: #151c24;
// 内容背景色
$containerBgColor: #eff3f8;
// 边框颜色
$borderCorlor: #eff3f8;
// 案例展示背景色
$showContent: #F7FBFF;
// 内容字体通用颜色
$containerFontColor3: #333;
$containerFontColor6: #666;
$containerFontColor9: #999;
// 蓝色
$blue: #00ABFF;
$blueActive: #009CE8;
// 最底部
$bottomBlack: #10151B;
$bottomFontColor: #637285;
